include ../base/mixins

block data
block variables

block variables
  - var title = "Denim - главная"
  - var wrapperMod = ""
  - var hasHeader = false
  - var headerMod = ""
  - var hasFooter = false
  - var footerMod = ""
  - var currentPage = ""

doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Мёд - оптом и в розницу")

    link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")   
    link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ffcf55")
    meta(name="msapplication-TileColor" content="#ffcf55")
    meta(name="theme-color" content="#ffffff")

    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()  
    header.header.container      
      h2.header__title
        span Nîmes
    main 
      section.intro 
        .container
          nav.intro__navigation
            ul.intro__list 
              li.intro__item 
                a.intro__link(href="#") Woman
              li.intro__item 
                a.intro__link(href="#") Man
              li.intro__item 
                a.intro__link(href="#") New
            ul.intro__list 
              li.intro__item 
                a.intro__link(href="#")
                  +icon("icon-cart", 22, 20)
              li.intro__item 
                a.intro__link(href="#") 
                  +icon("icon-magnifier", 20, 20)
          .intro__main 
            .intro__intro 
              p.intro__text The quality you deserve
              h1.intro__title DENIM
              a.btn.intro__btn(href="#") Check new collection
            .intro__img
              img(src="img/intro.jpg" width="430" height="517" alt="фотография девушки в одежде бренда")     
          nav.intro__navigation
            ul.intro__list 
              li.intro__item 
                a.intro__link(href="#")
                  +icon("icon-arrowdown", 12, 29)         
            ul.intro__list 
              li.intro__item 
                a.intro__link(href="#") Facebook
              li.intro__item 
                a.intro__link(href="#") Instagram
      section.bestsellers.container
        .bestsellers__header
          h2.bestsellers__title Bestsellers
          a.bestsellers__all(href="#") View all
        ul.bestsellers__list 
          li.bestsellers__item 
            a.bestsellers__link(href="#")
              .bestsellers__img
                img(src="img/jacket.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")     
              h3.bestsellers__heading Jacket 
              p.bestsellers__price $ 120
          li.bestsellers__item 
            a.bestsellers__link(href="#")
              .bestsellers__img
                img(src="img/overalls.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")     
              h3.bestsellers__heading Overalls 
              p.bestsellers__price $ 120
          li.bestsellers__item 
            a.bestsellers__link(href="#")
              .bestsellers__img
                img(src="img/jacket2.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")    
              h3.bestsellers__heading Jacket 
              p.bestsellers__price $ 120
          li.bestsellers__item 
            a.bestsellers__link(href="#")
              .bestsellers__img
                img(src="img/overalls2.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")    
              h3.bestsellers__heading Overalls 
              p.bestsellers__price $ 120
      section.fall.container
        .fall__image 
           img(src="img/Fall2019.jpg" width="700" height="370" alt="фотография девушки и пярня в одежде бренда") 
        .fall__container 
          .fall__info 
            p.fall__description Street fashion collection 
            h2.fall__title Fall 2019
            a.btn.fall__btn(href="#") Shop now
      section.categories.container 
        .categories__header
          h2.categories__title Shop by category
          a.categories__all(href="#") View all
        ul.categories__list
          li.categories__item 
            a.categories__link(href="#")
              .categories__img
                img(src="img/Jeans.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")     
              h3.categories__heading Jacket
          li.categories__item 
            a.categories__link(href="#")
              .categories__img
                img(src="img/Shirts.jpg" width="270" height="290" alt="фотография девушки в одежде бренда")     
              h3.categories__heading Shirts              
          li.categories__item 
            a.categories__link(href="#")
              .categories__img
                img(src="img/jackets.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")     
              h3.categories__heading Jackets
          li.categories__item 
            a.categories__link(href="#")
              .categories__img
                img(src="img/Overalls3.jpg" width="270" height="290" alt="фотография девушки в одежде бренда")     
              h3.categories__heading Overalls           

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
      