.bestsellers {
    margin-bottom: 130px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    &__title {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;      
        color: #151C22;
        margin: 0;
    }

    &__all {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;    
        color: #151C22;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: calc(25% - 15px);
    }       
}