.filter {
  margin-bottom: 40px;

  &__filter {
    position: relative;
    max-width: 243px;
    margin-left: auto;
  }

  &__toggle {
    display: block;
    padding: 16px 18px;
    border: 2px solid #151c22;
    position: relative;
    text-decoration: none;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151c22;

    svg {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 15px;
      right: 15px;
      transform: rotate(90deg);
    }
  }

  &__popup {
    position: absolute;
    top: 57px;
    left: 0;
    background: #ffffff;
    border: 2px solid #151c22;

    .filter__toggle {
      border: none;
    }
  }

  &__content {
    padding-left: 15px;
    padding-right: 15px;
    transition: padding 0.2s ease;

    &.active {
      padding-top: 9px;
      padding-bottom: 25px;
    }
  }

  input[type="radio"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    font-size: 0;
  }

  .details__color {
    margin-bottom: -20px;
  }

  .details__size {
    margin-bottom: -20px;

    label {
      display: inline-block;
    }
  }

  label {
    margin-bottom: 20px;
  }

  &__type {
    border-bottom: 2px solid #f1f2f4;
  }
}
