.header {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    
    &__title {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #151C22;
        max-width: 100px;
        margin: 0 auto; 
    }
}