.intro {   
    background-color: #F1F2F4;
    padding: 50px 0;
    position: relative;   
    margin-bottom: 130px;

    .container {        
        min-height: 617px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;   
    }

    &__item {
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #151C22;     
        text-decoration: none;  

        svg {
            fill: transparent;
        }
    }

    &__main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;  
        margin: auto;     
        max-width: 831px;      
        display: flex;
        justify-content: space-between;
    }

    &__intro {
        padding-top: 192px;
    }

    &__img {
        position: relative;      
        margin-top: 50px;

        img {
            position: relative;
            z-index: 1;
        }

        &::before {        
            content: "";
            position: absolute;
            top: -50px;
            left: -50px;
            width: 232px;
            height: 176px;
            background-image: url("../img/diagonal.png");
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -50px;
            right: -50px;
            width: 232px;
            height: 176px;
            background-image: url("../img/diagonal.png");
        }
    }

    &__text {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #727A82;
        margin: 0 0 25px 0;
    }

    &__title {
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: normal;
        font-size: 128px;
        line-height: 1; 
        color: #151C22;
        margin: 0 0 50px 0;
    }

    &__btn {
        max-width: 219px;
    }
}