.product {
    background-image: linear-gradient(to right, #ffffff 50%, #f1f2f4 50% 100%);
    margin-top: 55px;
    margin-bottom: 129px;

    @media (max-width: 1024px) {
        margin-bottom: 100px;
    }

    .container {
        display: flex;
    }
}