.site-navigation {    
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 37px;

    &__item {
        margin-right: 35px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration: none;
    }
}